body {
    background-color: antiquewhite;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background-color: aliceblue;
}

.first-line,
.second-line,
.third-line {
    display: flex;
    gap: 50px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 30px;
    padding: 5px 20px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: lightseagreen;
}