.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.first-line,
.second-line,
.third-line {
    display: flex;
    gap: 50px;
}

.input-group {
    display: flex;
    flex-direction: column;
}