body {
    background-color: antiquewhite;
    display: flex;
    margin: 0;
}

.left {
    width: 300px;
    background-image: url(background.jpg);
    background-size: cover;
}

.right {
    flex: auto;
}

.logo {
    margin-top: 100px;
    height: fit-content;
    width: 100%;
    text-align: center;
    background-color: rgba(95, 158, 160, 0.5);
    color: brown;
}

.container {
    display: flex;
    flex-direction: column;
    height: 250px;
    padding: 20px;
    gap: 20px;
    background-color: aliceblue;
}

h3 {
    margin-top: 0;
}

.first-line,
.second-line,
.third-line {
    display: flex;
    gap: 50px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 30px;
    padding: 5px 20px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: lightseagreen;
}

a {
    text-decoration: none;
}

.warning {
    margin: 2px;
    color: red;
    font-size: 0.9em;
}